<div class="box">
    <section>
        <a class="section" href="./#/new">
            <img src="app/img/icon_0.png">
            <span>New order list</span>
        </a>
    </section>
</div>
<div class="box">
    <section>
        <a class="section" href="./#/lists">
            <img src="app/img/icon_1.png">
            <span>My lists</span>
        </a>
    </section>
</div>
<div class="box">
    <section>
        <a class="section" href="./#/restaurants">
            <img src="app/img/icon_2.png">
            <span>Restaurants</span>
        </a>
    </section>
</div>
<div class="box">
    <section>
        <a class="section" href="./#/glossary">
            <img src="app/img/icon_3.png">
            <span>Glossary</span>
        </a>
    </section>
</div>
<div class="box">
    <section>
        <a class="section" href="./#/settings">
            <img src="app/img/icon_4.png">
            <span>Settings</span>
        </a>
    </section>
</div>